<h1>Student Details Application</h1>
<h3>welcome:{{title}}</h3>
<table class="tbstyle">
      <thead>
        <tr>
          <th>Student Roll</th>
          <th>Student Marks</th>
          <th>Student College</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{student1.roll_number}}</td>
          <td>{{student1.stud_marks}}</td>
          <td>{{student1.stud_clg}}</td>
        </tr>
        <tr>
            <td>{{student2.roll_number}}</td>
            <td>{{student2.stud_marks}}</td>
            <td>{{student2.stud_clg}}</td>
          </tr>
          <tr>
            <td>{{student3.roll_number}}</td>
            <td>{{student3.stud_marks}}</td>
            <td>{{student3.stud_clg}}</td>
          </tr>
          <tr>
              <td>{{student4.roll_number}}</td>
              <td>{{student4.stud_marks}}</td>
              <td>{{student4.stud_clg}}</td>
            </tr>
        
      </tbody>
</table>
    
    
    