<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">MCA</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a
          class="nav-link"
          [routerLink]="['/product']"
          routerLinkActive="router-link-active"
          >Product <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/games']" routerLinkActive="router-link-active" >Games</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/syllabus']" routerLinkActive="router-link-active" >Syllabus</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/pipe-filter']" routerLinkActive="router-link-active" >PipeFilter</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet>

</router-outlet>
