<p>Your Birth Date is {{ birthday | date |uppercase}}</p>

<p>The hero's birthday is {{ birthday | date:format }}<br> in "{{format}}" format.
  
  Click the toggle button to change formats.</p>

<button class="btnStyle" type="button" (click)="toggleFormat()">Toggle Format</button>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
